// Global styles used for all components
body {
  font-family: 'Rubik', sans-serif;
  font-size:100%;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 500px) {
    font-size: 150%;
  }
}

li {
  list-style-type: none;
}

.spacing {
  padding: 0 0.5em 0 0.5em;
}